.progress-vertical {
    position: relative;
    height: 100%;
    width: 40px;
  }
  
  .progress-vertical .progress-bar {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .section-divider {
    height: 100px;
  }

  
  